<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <span class="navbar-brand">
        <span ng-if="lieferungen[0] && lieferungen[0].datum > today" translate
          >Der nächste Korb</span
        >
        <span ng-if="lieferungen[0] && lieferungen[0].datum <= today" translate
          >Der aktuelle Korb</span
        >
        <span ng-show="lieferungen"
          >vom {{lieferungen[0].datum | date}}</span
        >
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <div class="col-md-12">
        <div ng-show="!lieferungen" translate>
          Es wurden noch keine Körbe dieses Typs geplant oder geliefert.
        </div>
        <div
          class="panel panel-success"
          ng-if="lieferungen[0].lieferplanungBemerkungen"
        >
          <div class="panel-body html-content" ng-if="hasBemerkungenPreview(lieferungen[0])" ng-bind-html="lieferungen[0].bemerkungenShort | unsafe"></div>
          <div class="panel-body html-content" ng-if="hasBemerkungenFullview(lieferungen[0])" ng-bind-html="lieferungen[0].lieferplanungBemerkungen | unsafe"></div>
          <div class="panel-footer" ng-if="hasBemerkungenPreview(lieferungen[0])" ng-click="toggleBemerkungenPreview(lieferungen[0])"><span class="fa fa-book"></span> <span translate>Weiterlesen ...</span></div>
        </div>

        <table
          ng-show="lieferungen"
          ng-table="lieferungen[0].lieferungenTableParams"
          class="table table-striped"
          show-filter="false"
          template-pagination="scripts/ngtable/oo-ngtable-noPaginationTemplate.html"
        >
          <tr ng-repeat="korbprodukt in $data | orderBy:'produktBeschrieb'">
            <td data-title="'Produkt'|translate" class="lieferung-produkt">
              {{korbprodukt.produktBeschrieb}}
            </td>
            <td data-title="'Menge'|translate" class="lieferung-menge">
              {{korbprodukt.menge}}
            </td>
            <td data-title="'Einheit'|translate" class="lieferung-eh">
              {{liefereinheiten[korbprodukt.einheit.toUpperCase()].label.short|translate}}
            </td>
            <td
              data-title="'Preis'|translate"
              ng-if="projekt.preiseSichtbar"
              class="lieferung-preis"
            >
              <span ng-show="korbprodukt.menge">
                {{calculatePreis(korbprodukt)| ooCHF}}
              </span>
              <span
                ng-hide="korbprodukt.menge"
                class="base-preis lieferung-preiseh"
              >
                <span ng-show="korbprodukt.menge">
                  {{calculatePreis(korbprodukt)| ooCHF}}
                </span>
                <span
                  ng-hide="korbprodukt.menge"
                  class="base-preis lieferung-preiseh"
                >
                  {{korbprodukt.preisEinheit | ooCHF}}
                </span>
              </td>
              <td
                data-title="'Produzent'|translate"
                class="lieferung-produzent"
              >
                {{korbprodukt.produzentKurzzeichen}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div
      class="panel-heading clearfix"
      ng-show="lieferungen && lieferungen.length > 1"
      id="archivTitle"
    >
      <h3 class="panel-title">
        <span class="navbar-brand" translate>Die früheren Körbe</span>
      </h3>
    </span>
  </div>
  <div
    class="panel-body panel-collapse collapse"
    ng-show="lieferungen && lieferungen.length > 1"
    id="archiv{{rand}}"
  >
    <div class="panel-group" role="tablist" aria-multiselectable="true">
      <div
        ng-repeat="lieferung in lieferungen|limitTo:maxKoerbe"
        ng-if="$index > 0"
        class="panel panel-default"
      >
        <h3 class="panel-title">
          <span class="navbar-brand" translate>Die früheren Körbe</span>
        </h3>
      </span>
    </div>
    <div
      class="panel-body panel-collapse collapse"
      ng-show="lieferungen && lieferungen.length > 1"
      id="archiv{{rand}}"
    >
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div
          ng-repeat="lieferung in lieferungen| dateRange:abo.start:abo.ende:'datum'|limitTo:maxKoerbe"
          ng-if="$index > 0"
          class="panel panel-default"
        >
          <div class="panel-body">
            <div
              class="panel panel-success"
              ng-if="lieferung.lieferplanungBemerkungen"
            >
              <div class="panel-body html-content" ng-if="hasBemerkungenPreview(lieferung)" ng-bind-html="lieferung.bemerkungenShort | unsafe"></div>
              <div class="panel-body html-content" ng-if="hasBemerkungenFullview(lieferung)" ng-bind-html="lieferung.lieferplanungBemerkungen | unsafe"></div>
              </div>
              <div class="panel-footer" ng-if="hasBemerkungenPreview(lieferung)" ng-click="toggleBemerkungenPreview(lieferung)"><span class="fa fa-book"></span> <span translate>Weiterlesen ...</span></div>
            </div>
          </div>
          <div
            ng-show="(lieferungen| dateRange:abo.start:abo.ende:'datum').length >= maxKoerbe"
            class="panel panel-default"
          >
            <div class="panel-heading" role="tab" ng-click="showMore()">
              <h4 class="panel-title">
                <span role="button">
                  <span
                    class="glyphicon glyphicon-plus"
                    aria-hidden="true"
                  ></span>
                  <span translate>Weitere Körbe anzeigen...</span>
                </span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
