<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row" ng-show="!entries">
          <div class="col-md-12 col-sm-12" >
            <span translate>Es wurden noch keine Lieferplanungen abgeschlossen.</span>
          </div>
        </div>
        <div ng-repeat="planung in entries | orderBy:'produktBeschrieb' | limitTo:shownEntries">
          <div class="row">
            <div class="col-md-12">
              <div class="row form-group">
                <h3 class="nonboxed-title">
                  <div class="col-md-5">
                    <ul class="nav navbar-nav">
                      <li class="navbar-brand"><span translate>Lieferung</span> #{{planung.id}}: <span translate>Inhalt der Körbe</span> <span ng-if="hasCommonLieferdatum(planung)"><span translate>vom</span> {{planung.commonLieferdatum | date}}</span></li>
                    </ul>
                  </div>
                </h3>
              </div>
            </div>
            <div class="col-md-12" ng-if="hasBemerkungenPreview(planung)">
              <div class="alert alert-warning preformat html-content" role="alert">
                <span ng-bind-html="planung.bemerkungenShort | unsafe"></span>
                <button ng-click="toggleBemerkungenPreview(planung)" class="btn btn-info"><span class="fa fa-book"></span> <span translate>Weiterlesen ...</span></button>
              </div>
            </div>
            <div class="col-md-12" ng-if="hasBemerkungenFullview(planung)">
              <div class="alert alert-warning preformat html-content" role="alert" ng-bind-html="planung.bemerkungen | unsafe"></div>
            </div>
          </div>
          <div class="row section-abodetails">
            <div class="col-md-6 korb" ng-repeat="abotypLieferung in planung.lieferungen | orderBy: 'abotypBeschrieb'">
              <div class="panel panel-default panel-lieferplanung" oo-drop-target="true" on-drop="dropProdukt(dragEl, dropEl, type)">
                <div class="panel-heading clearfix" ng-style="{'background-color':abotypLieferung.abotyp.farbCode}">
                  <h3 class="panel-title lieferplanung-title">
                    <span class="navbar-brand" data-toggle="collapse" data-target="#abotypLieferung_{{abotypLieferung.id}}" aria-expanded="true">
                      {{abotypLieferung.abotypBeschrieb}}
                    </span>
                    <span class="pull-right" ng-if="!hasCommonLieferdatum(planung)">
                      <span class="navbar-brand">{{abotypLieferung.datum | date}}</span>
                    </span>
                  </h3>
                </div>
                <div class="panel-body collapse in" id="abotypLieferung_{{abotypLieferung.id}}">
                  <table class="table table-striped table-small table-lieferplanung" template-pagination="scripts/ngtable/oo-ngtable-noPaginationTemplate.html">
                    <tr ng-repeat="korbprodukt in abotypLieferung.lieferpositionen | orderBy:'produktBeschrieb'">
                      <td>
                        {{korbprodukt.produktBeschrieb}}
                      </td>
                      <td >
                        {{korbprodukt.menge}}&nbsp;{{liefereinheiten[korbprodukt.einheit.toUpperCase()].label.short|translate}}
                      </td>
                      <td ng-if="projekt.preiseSichtbar">
                        <span ng-show="korbprodukt.menge">
                          {{calculatePreis(korbprodukt)| ooCurrency:projekt.waehrung:true}}
                        </span>
                        <span ng-hide="korbprodukt.menge" class="base-preis">
                          {{korbprodukt.preisEinheit | ooCurrency:projekt.waehrung:true}}
                        </span>
                      </td>
                      <td >
                        {{korbprodukt.produzentKurzzeichen}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="shownEntries < entries.length">
          <div class="row">
            <div class="col-md-12">
              <div class="row form-group">
                <h3 class="nonboxed-title">
                  <div class="col-md-5" ng-click="showMore()">
                    <ul class="nav navbar-nav" role="button">
                      <li class="navbar-brand"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span translate>Weitere Lieferungen anzeigen...</span></li>
                    </ul>
                  </div>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
