<div class="dashboard-container">
  <div class="row" *ngIf="user && projekt">
    <div class="col-md-12">
      <h2>{{ 'OpenOlitor Mitgliederportal' | translate }}: {{ projekt.bezeichnung }}</h2>
      <p>{{ 'Willkommen' | translate }}, {{ user.vorname }} {{ user.name }}!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{ 'Dashboard' | translate }}</h3>
        </div>
        <div class="panel-body">
          <p>{{ 'Hier finden Sie eine Übersicht über Ihre Abos, Rechnungen und Arbeitseinsätze.' | translate }}</p>
          <div class="dashboard-links">
            <a href="#abos" class="btn btn-primary">{{ 'Abos' | translate }}</a>
            <a href="#rechnungen" class="btn btn-primary">{{ 'Rechnungen' | translate }}</a>
            <a href="#arbeitseinsaetze" class="btn btn-primary">{{ 'Gebuchte Arbeitseinsätze' | translate }}</a>
            <a href="#arbeitsangebote" class="btn btn-primary">{{ 'Mitarbeit planen' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
