<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row" ng-show="!entries">
          <div class="col-md-4 col-sm-12" >
            <span translate>Du hast dich in keine Arbeitseinsaetze eingeschrieben.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table ng-show="entries" ng-table="arbeitseinsaetzeTableParams" class="table table-striped" show-filter="false" template-pagination="removePagerRow.html">
              <tr ng-repeat="arbeitseinsatz in $data | orderBy:'zeitVon'">
                <td data-title="'Titel'|translate">
                  {{arbeitseinsatz.titel}}
                </td>
                <td data-title="'Zeitpunkt'|translate">
                  {{arbeitseinsatz.zeitVon | dateTime}} - {{arbeitseinsatz.zeitBis | dateTime}}
                </td>
                <td data-title="'Ort'|translate">
                  {{arbeitseinsatz.arbeitsangebot.ort}}
                </td>
                <td data-title="'# Personen'|translate">
                  {{arbeitseinsatz.anzahlPersonen}} (){{arbeitseinsatz.arbeitsangebot.anzahlPersonen}})
                </td>
                <td data-title="'Kategorien'|translate">
                  <span ng-repeat="arbeitskategorie in arbeitseinsatz.arbeitsangebot.arbeitskategorien" class="badge" ng-if="arbeitskategorie !== ''">
                    {{arbeitskategorie}}
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
