<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row" ng-show="!entries">
          <div class="col-md-4 col-sm-12" >
            <span translate>Keine Arbeitsangebote.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <oo-overviewfilter-geschaeftsjahre
                selected-funct="selectGeschaeftsjahr"
                select="geschaeftsjahr"
                select-current="true">
            </oo-overviewfilter-geschaeftsjahre>
          </div>
          <div class="col-md-12">
            <table ng-show="entries" ng-table="arbeitsangebotTableParams" class="table table-striped" show-filter="false" template-pagination="scripts/ngtable/oo-ngtable-noPaginationTemplate.html">
              <tr ng-repeat="arbeitsangebot in $data">
                <td data-title="'Titel'|translate" sortable="'titel'">
                  <a id="arbeitsangebot{{arbeitsangebot.id}}">{{arbeitsangebot.titel}}</a>
                  <span ng-if="arbeitsangebot.bezeichnung">&nbsp;<i class="fa fa-info-circle ng-scope" uib-tooltip-html="arbeitsangebot.bezeichnung"></i></span>
                </td>
                <td data-title="'Zeitpunkt'|translate" sortable="'zeitVon'">
                  <span ng-if="sameDay(arbeitsangebot.zeitBis, arbeitsangebot.zeitVon)">
                    {{arbeitsangebot.zeitVon | date:'dd.MM.yyyy'}}
                    {{arbeitsangebot.zeitVon | date:'@ HH:mm'}} - {{arbeitsangebot.zeitBis | date:'HH:mm'}}
                  </span>
                  <span ng-if="!sameDay(arbeitsangebot.zeitBis, arbeitsangebot.zeitVon)">
                    {{arbeitsangebot.zeitVon | date:'dd.MM.yyyy @ HH:mm'}} - {{arbeitsangebot.zeitBis | date:'dd.MM.yyyy @ HH:mm'}}
                  </span>
                </td>
                <td data-title="'Ort'|translate">
                  {{arbeitsangebot.ort}}
                </td>
                <td data-title="'#Pers.'|translate" sortable="'anzahlPersonen'">
                  {{arbeitsangebot.anzahlEingeschriebene}} / <span ng-if="!arbeitsangebot.mehrPersonenOk" translate>max.</span> {{arbeitsangebot.anzahlPersonen}}<span ng-if="arbeitsangebot.mehrPersonenOk" translate>+</span>
                </td>
                <td data-title="'Kategorien'|translate">
                  <span ng-repeat="arbeitskategorie in arbeitsangebot.arbeitskategorien" class="badge" ng-if="arbeitskategorie !== ''">
                    {{arbeitskategorie}}
                  </span>
                </td>
                <td>
                  <a role="button" ng-disabled=!availableVacancies(arbeitsangebot) ng-if="!isParticipating(arbeitsangebot)" class="btn btn-sm btn-primary" ng-click="participate(arbeitsangebot)"><span class="glyphicon glyphicon-plus"></span></a>
                  <a role="button" ng-disabled=!availableVacancies(arbeitsangebot) ng-if="isParticipating(arbeitsangebot)" class="btn btn-sm btn-info" ng-click="!availableVacancies(arbeitsangebot) || edit(arbeitsangebot)"><span class="glyphicon glyphicon-edit">{{getArbeitseinsatz(arbeitsangebot).anzahlPersonen}}</span></a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-heading clearfix" ng-show="entries && entries.length > 4 && maxEntries < entries.length" id="arbeitsAngebotArchivTitle" >
        <span role="button" ng-click="showMore()" >
          <h3 class="panel-title">
            <span class="navbar-brand" translate>Mehr Angebot anzeigen</span>
          </h3>
        </span>
      </div>
    </div>
  </div>
</div>
